<<<<<<< HEAD
<% provide :title, t(".help") %>
<h1><% t ".help2" %></h1>
<p><% t ".help3" %></p>
=======
<% provide(:title, t(".help")) %>
<h1><%= t(".help2") %></h1>
<p><%= t(".help3") %></p>
>>>>>>> 6075bef... Chapter 5: Filling the layout
