<h1><%= t(".head") %></h1>

<p><%= t(".p1") %></p>

<%= link_to t(".p2"), edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t(".p3") %></p>
