<% provide(:title, t(".index")) %>
<h1><%= t ".index" %></h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>
